<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
        <a href="#" class="navbar-brand">B&B Bam Bam</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"  data-bs-target="#navmenu" >

            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="#city" class="nav-link">The City</a>
                </li>
                <li class="nav-item">
                    <a href="#location" class="nav-link">The Location</a>
                </li>
                <li class="#nav-item">
                    <a href="#direction" class="nav-link">How to get here</a>
                </li>
                <li class="nav-item">
                    <a href="#contact" class="nav-link">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a href="#activities" class="nav-link">Activities</a>
                </li>
            </ul>
        </div>

    </div>

</nav>




